.products {
    width: 100vw;    
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    padding: 1%;
    margin-top: 10px;
}

.product__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    width: 48%;
    max-width: 230px;
    height: 280px;
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--gray);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product__card-img {
    justify-items: start;
    display: flex;
    justify-content: center;
    width: auto;
    height: 100px;
}

.img {
    margin: auto;
    width: auto;
    height: 75%;
}

.product__card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.produtc__card-title {
    display: -webkit-box;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.produtc__card-description{
    display: -webkit-box;
    font-size: .75rem;
    font-weight: 500;
    text-align: left;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.product__card-price {
    font-size: 1.2rem;
    font-weight: 700;
    align-self: flex-start;
    margin: 10px 0;
}

.product__card-button {    
    display: flex;
    justify-content: space-between;
}

.product__card-button-add, .product__card-button-remove, .product__card-button-like {
    text-align: center;
    font-size: 1rem;    
    height: 30px;
    width: 30px;
    padding-top: 1px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.product__card-button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--primary-color);
    border: 1px solid var(--white);
    margin-right: 10px;
}


.product__card-button-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid var(--primary-color);    
    margin-right: auto;
}

.product__card-button-add > i {
    padding: 10px;
}

.product__card-button-remove > i {
    padding: 10px;
}

.product__card-button-like {
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid var(--primary-color);
}

.product__card-button-like--active {
    color: var(--white);
    background-color: var(--secondary-color);
    border: 1px solid var(--white);
}

@media screen and (min-width: 1024px) {

    .products {
        max-width: 1024px;        
    }
    .product__card {
        max-width: none;
        width: 24%;
    }

    .product__card:nth-child(5n) {
        width: 49%;
    }

    .product__card:nth-child(5n) .product__card-img-title {
        display: flex;
        align-items: center;
    }

    .product__card:nth-child(5n) .product__card-img {
        min-width: 60%;
        height: 160px;
    }

    .product__card:nth-child(5n) .produtc__card-title {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.4rem;
        -webkit-line-clamp: 5;
    }
}